In [ ]:
# installing spark on mac

# https://sparkbyexamples.com/pyspark/install-pyspark-in-jupyter-on-mac-using-homebrew/

In [7]:
# 

from pyspark.sql import SparkSession

import pandas as pd

In [5]:
# create spark session

spark = SparkSession.builder.appName("SparkByExamples.com").getOrCreate()

In [8]:
# create data frame

d = pd.DataFrame({'col1': [1, 2, 1], 'col2': [3, 4, 3]})

In [10]:
d

   col1  col2
0     1     3
1     2     4
2     1     3

In [15]:
type(d)

pandas.core.frame.DataFrame

In [11]:
# create a spark data frame

d_spark = spark.createDataFrame(d)

In [13]:
d_spark

DataFrame[col1: bigint, col2: bigint]

In [14]:
d_spark.show()

+----+----+
|col1|col2|
+----+----+
|   1|   3|
|   2|   4|
|   1|   3|
+----+----+

In [16]:
type(d_spark)

pyspark.sql.dataframe.DataFrame

In [ ]:
# next steps - loading a spark df to s3 or redshift
# https://sparkbyexamples.com/amazon-aws/write-read-csv-file-from-s3-into-dataframe/