In [1]:
# this is code to print hi

print("Hi!")

Hi!

In [2]:
num = 5

In [3]:
num

5

In [4]:
print(num)

5

In [5]:
num = 6
num

6

In [10]:
num1 = 5
num2 = 6
print(num1, num2)

5 6

In [15]:
name = 'John'

In [16]:
name

'John'

In [17]:
1num = 5

SyntaxError: invalid decimal literal (1054063625.py, line 1)

In [18]:
first name = "John"

SyntaxError: invalid syntax (3633723842.py, line 1)

In [19]:
first-name="John"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3964310766.py, line 1)

In [20]:
first_name = "John"

In [21]:
first_name

'John'

In [22]:
name1="John"

In [23]:
# camel case
myFullName = "Sarah Haq"
# pascal case
MyFullName = "Sarah Haq"
# snake cake
my_full_name = "Sarah Haq"

In [24]:
myFullName

'Sarah Haq'

In [25]:
type(myFullName)

str

In [26]:
type(num1)

int

In [27]:
fruit1, fruit2, fruit3 = "Orange", "Banana", "Cherry"

In [28]:
fruit1

'Orange'

In [29]:
fruit2

'Banana'

In [30]:
fruit3

'Cherry'

In [32]:
fruit1, fruit2  = "Orange", "Banana"

In [33]:
o1 = o2 = o3 = "Orange"

In [34]:
o1

'Orange'

In [35]:
o2

'Orange'

In [36]:
o3

'Orange'

In [39]:
first_word = "Python"
second_word = "is"
third_word = "Awesome"

first_word + " " + second_word + " " + third_word

'Python-is-Awesome'

In [41]:
final_word = first_word + " " + second_word + " " + third_word
final_word

'Python is Awesome'

In [42]:
final_word

'Python is Awesome'

In [44]:
print(final_word)
print(final_word)

Python is Awesome
Python is Awesome

In [45]:
num1

5

In [46]:
first_word

'Python'

In [47]:
num1 + first_word

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
num1 + num1

10

In [49]:
first_word + first_word

'PythonPython'

In [50]:
print(num1, first_word)

5 Python

In [55]:
fave_fruit = "cherry"
print("my favourite fruit is", fave_fruit)

my favourite fruit is cherry

In [58]:
print(f'my favourite fruit is {fave_fruit}')

my favourite fruit is cherry

In [62]:
first_name = "Sarah"
second_name = "Haq"
f"Hello! My Name is {first_name} {second_name}"

'Hello! My Name is Sarah Haq'

In [64]:
first_name = "Sarah"
second_name = "Haq"
age = 340

f"Hello! My Name is {first_name} {second_name} and I am {age} years old"

'Hello! My Name is Sarah Haq and I am 340 years old'

In [65]:
type(num1)

int

In [71]:
fave_fruit = "Plum"

print(f"My favourite fruit is {fave_fruit}")

My favourite fruit is Plum

In [72]:
print("My favourite fruit is", fave_fruit)

My favourite fruit is Plum

In [ ]:
print(f"My favourite fruit is plum")